<!DOCTYPE html>
<html lang="en">

<head>
  <title>Process your image</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <link href="../static/jumbotron-narrow.css" rel="stylesheet">

  <link href="../static/style.css" rel="stylesheet">


</head>

<body>

  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a>
          </li>
          <li role="presentation" class="btn"><a href="http://www.prioritydynamics.com/">PriorityDynamics</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Process your image</h3>
    </div>

    <div class="jumbotron">
      <div id="image-container">
        <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;">
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <div>
          <strong>Title: </strong>
          <span>{{hel}}</span>
        </div>
        <div>
          <strong>Name: </strong>
          <span>{{hel2}}</span>
        </div>
        <div>
          <strong>ID: </strong>
          <span>{{hel3}}</span>
        </div>
        <div>
          <strong>Expiry Date: </strong>
          <span>{{hel4}}</span>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; PriorityDynamics 2019</p>
    </footer>

  </div>
</body>

</html>
